* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 20px auto;
  display: flex;
  /* gap: 5px; */
  row-gap: 3px;
  column-gap: 8px;
  justify-content: center;
}

.item {
  padding: 10px;
  border-radius: 3px;
  width: 300px;
  background-color: rgb(76, 78, 226);
}

.item1 {
  flex: 1 1 500px;
}
